<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()
</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="http://www.cinemaonett.com/wp-content/uploads/Movies/The-Flash-Movie-Poster-01.jpeg-403x598.webp" height="400"
                        class="text-sm-left"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>The Flash (2023)</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        16 June 2023
                                        <div>
                                            The Flash (2023)
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">แฟนตาซี</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"144 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m5time" @click="useTicket.ticketName('The Flash (2023)'), useTicket.ticketDate('THU 15 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Barry Allen uses his super speed to change the past, but his attempt to save his family
                                    creates a
                                    world without super heroes, forcing him to race for his life in order to save the
                                    future.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/hebWYacbdvc" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://www.looper.com/img/gallery/the-flash-director-andy-muschietti-to-helm-dcu-flick-batman-the-brave-and-the-bold/intro-1686879723.jpg"
                                    size="60"></v-avatar>
                                Andy Muschietti
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
    </v-container>
</v-card></template>