<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://d32qys9a6wm9no.cloudfront.net/images/movies/poster/2b/1d14981ef3b7a51062af9284d2779c70_original.jpg?t=1653944208" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>ELEMENTAL : เมืองอลวนธาตุอลเวง</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        22 June 2023
                                        <div>
                                            ELEMENTAL : เมืองอลวนธาตุอลเวง
                                        </div>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">แอนิเมชัน</v-chip>
                                        <v-chip class="ma-2">ตลก</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"93 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Follows Ember and Wade, in a city where fire-, water-, land- and air-residents live together.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/JEqdkXeeajk" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://static.cinemagia.ro/img/db/actor/05/81/42/peter-sohn-803250l.jpg"
                                    size="60"></v-avatar>
                                    Peter Sohn
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>