<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import MainView from './views/MainView.vue'
import HomeView from './views/HomeView.vue';
import ShopView from './views/ShopView.vue';
</script>

<template>
    <MainView/>
    
</template>

<style scoped>

</style>
